.footer {
    padding-bottom: 114px;

    &__inner {
        display: flex;
        justify-content: center;
        padding:83px 15px 92px;
        background-color: #1F2021;
    }

    &__text {
        flex-shrink: 0;
        flex-basis: 370px;
        margin-right: 87px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__descr {
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
    }

    &__form {
        flex-basis: 51%;
        display: flex;
        flex-direction: column;
    }
    &__items {
        display: flex;
        margin-bottom: 24px;
    }

    &__input {
        width: 50%;
        height: 65px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 20px 33px;
        margin-right: 16px;
        border: 1px solid transparent;
        outline: none;
        &::placeholder {
            font-size: 14px;
            line-height: 17px;

        }
        &:focus {
            box-shadow: 0 0 20px rgba($color: $accent, $alpha: .15);
            border-color: $accent;
        }
    }

    &__btn {
        width: 41%;
    }
    &__check {
        align-self: flex-start;
    }
}

