body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $main-color;
}


.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .lock {
      overflow: hidden;
  }

  .btn-reset {
      padding: 0;
      background-color: transparent;
      border: none;
  }